body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Outfit', sans-serif;
    

}
.container {
    width: 95%;
    height: 100vh;
    display: flex;
    text-align: center;
}

#main{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    font-size: 14px;
    
}

.img-desktop {
    width: 280px;
    height: 530px;
    border-radius: 10px 0px 0px 10px;
}
.img-mobile{
    display:none;
}
.main-text{
    background-color: white;
    height: 530px;
    width: 300px;
    text-align: left;
   border-radius: 0px 10px 10px 0px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

label{
    margin: .3rem 0 0 0;
}

#formid{

    margin: 1rem;
    line-height: 1.5rem;
}
legend{
    color:hsl(160, 92%, 10%);
    
}

input[type=email]{
    padding: .4rem;
    width: 90%;
}

input[type=password]{
    padding: .3rem;
    width: 90%;
}







button{
    background-color:hsl(160, 92%, 10%);
        color: white;
        padding: 16px 16px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        font-size: 18px;
        border-radius: 5px;
        width: 130px;
        text-align: center;
    
        
}




@media(max-width: 700px) {
    #main {
        flex-direction: column;
    }
    .img-desktop{
        display:none;
    }
    .img-mobile{
        display: block;
        border-radius: 10px 10px 0px 0px;
        width: 300px;
    }
   .main-text{
    height: 320px;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

   }
   #formid{
    margin: 1rem;
    line-height: 1rem;
}
  
}